# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug Files
*.pdb
*.ilk
*.lastbuildstate
*.tlog
*.idb

# We Don't want copyright strikes, man.
Debug/
Debug/ZUN.COM
Debug/kaiki*
Debug/music.dat
Debug/SE
x64/
kaiki1.dat
kaiki2.dat
music.dat
ZUN.COM

# Visual Studio Gibberish
.vs/

# Game Internal Setup Stuff
game.cfg